$break-small: 767px;
.ui.menu {
  background-color: #512f8f;
  border-radius: 0em;
  margin-bottom: 0em;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;

  .item {
    color: #ffffff;
  }
}

.main {
  position: relative;
  top: 40px;
}

.ui.items.posts {
  margin-top: 0em;
  .item {
    padding: 1em;
  }
}

@media screen and (max-width: $break-small) {
  .ui.posts.items {
    .item {
      padding: 1em;
      width: 100%;
      display: flex !important;
      flex-direction: row !important;
      margin-top: 0em !important;
      margin-bottom: 0em !important;
      border-bottom: 1px solid #eee;

      .image.tiny {
        width: 150px !important;
        margin-left: 0em;
        margin-right: 0em;
      }

      .content {
        padding: 0em 0em 0em 1em;
      }
    }
  }
}

.ui.feed {
  margin-top: 0em;

  .event {
    padding: 1em;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: 0px;
    }

    &:first-child {
      padding-top: 1em;
    }

    .label {
      width: 3.5em;
    }
  }
}

.contact.ui.items {
  margin-top: 0em;

  .item {
    padding: 1em;
  }
}


.contact .ui.horizontal.segments {
  border-radius: 0em;
}

.login {
  padding: 2em;

  img.logo {
    width: 128px;
    height: 128px;
    display: block;
    margin: 2.5em auto;
  }

  .ui.dropdown {
    width: 100%;
    margin-bottom: 1em;
  }
}
