$break-small: 767px;
$brand-color: #512f8f;

a {
  color: #ffffff;
}

.ui.menu {
  background-color: #512f8f;
  border-radius: 0em;
  margin-bottom: 0em;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;

  .item {
    color: #ffffff;
    a {
      i.icon {
        color: #ffffff;
        margin-right: 0em;
      }
    }
  }
}

.main {
  position: relative;
  top: 45px;
}

.ui.items.posts {
  margin-top: 0em;
  .item.post {
    padding: 1em;

    .stats {
      margin-top: 2em;
      display: flex;
      .stat {
        padding-right: 1em;

        i.icon {
          color: $brand-color;
        }
      }
    }
  }
}

.rc-swipeout {
  overflow: hidden;
  position: relative;
  padding-top: 0em;
  padding-bottom: 0em;
  border-bottom: 1px solid #eee;
}

.reports {
  .overview {
    padding: 1em;
    border-bottom: 1px solid #eee;

    .ui.statistics .statistic,
    .ui.statistic {
      .value {
        font-size: 2.5rem;
      }
      margin-bottom: 0em;
    }
  }
}

@media screen and (max-width: $break-small) {
  .ui.posts.items {
    .item {
      padding: 1em;
      width: 100%;
      display: flex !important;
      flex-direction: row !important;
      margin-top: 0em !important;
      margin-bottom: 0em !important;
      border-bottom: 1px solid #eee;

      .image.tiny {
        width: 150px !important;
        margin-left: 0em;
        margin-right: 0em;

        img {
          width: 150px !important;
        }
      }

      .content {
        padding: 0em 0em 0em 1em;
      }
    }
  }
}

.ui.feed {
  margin-top: 0em;

  &.reply {
    background: #f0f0f0;
  }

  .event {
    padding: 1em;
    border-bottom: 1px solid #DADEDF;

    &:last-child {
      border-bottom: 0px;
    }

    &:first-child {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .label {
      width: 3.5em;
    }
  }
}

.contact.ui.items {
  margin-top: 0em;

  .item {
    padding: 1em;
  }
}


.contact .ui.horizontal.segments {
  border-radius: 0em;
}

.login {
  padding: 2em;

  img.logo {
    width: 128px;
    height: 128px;
    display: block;
    margin: 2.5em auto;
  }

  .ui.dropdown {
    width: 100%;
    margin-bottom: 1em;
  }
}
